// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.home .jumbotron {
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3QT5GaWfiubb0nKdNou2nuRwa6f0_H8G5Qg&usqp=CAU) center center;
    background-size: cover;
    min-height: 600px;
    width: 100%;
}